
 
table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin-left: 40%;
    margin-top: 20%;

}

td, th{
    text-align: center;
}

.normal th, .normal td {
    border: 1px solid #000;
  }

th{
    border: 1px solid black;
    background-color: cadetblue;
}



.fila-1 td{
    background-color: #FFFFCC ;
}

tr .celda-izq {
    background-color: aquamarine;
}

img{
    float: left;
    margin-right: 5px;
}